body {
  background-image: url("http://orig08.deviantart.net/474c/f/2009/278/2/a/hiro_by_sang_timur.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 { font-family: 'Metrophobic', Arial, serif; font-weight: 1000; padding: 20px;}
p { font-family: 'Metrophobic', Arial, serif; font-weight: 400; margin: 20px; padding: 20px;}
a {font-family: 'Metrophobic', Arial, serif; font-weight: 400; margin: 20px; padding: 20px;}
