
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
body {
    text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;       
color: #00ffff;
background: url("http://pre02.deviantart.net/d78e/th/pre/f/2008/136/f/b/zen_garden_blossoms_by_love1008.jpg);
}
</style>


