
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
body {
    text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;       
color: #00ffff;
background: url("http://www.fancygardenideas.net/garden-design/2015/09/zen-garden-desktop-background-zen-garden-wallpaper-iphone--1024x819.jpg");
}



